
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h2>SISTEMA DE CADASTRO DE RESTAURANTES</h2>
        <p>     <img src="~/Images/feijoada.jpg" /> </p>
    </div>
    <div>

    </div>
</div>